@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap');
/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

:root {
    --GrayTitle:#333333; 
    --GraySubTitle:#4F4F4F; 
    --GrayContent:#828282; 
    --GrayContentSoft:#C4C4C4; 
    --BlueContrast:#2F80ED; 
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

a { 
    text-decoration: none;
    color: inherit;
}

ul { 
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    height: auto;
    padding: 5vh 10vw;
}

main {
    /* display: flex;
    flex-direction: column;
    gap: 5vh 0; */
    
    display: grid;
    grid-template-columns: 35% 65%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "profileCard profileCard"
        "skillsSection blogEntryCard"
        "certificationSection blogEntryCard"
        "certificationSection experiencesSection"
        "projectSection projectSection";
        gap: 3vh 3vw;
}
main > * { border-radius: 12px; }

.profile-card {
    grid-area: profileCard;
    width: 100%;
    padding: 1rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-auto-rows: auto;
    grid-template-areas: 
    "img name-charge fields"
    "img short-bio short-bio";
}

.profile-card .img-profile {
    grid-area: img;
    place-self: center;
    border-radius: 12px;
}

.profile-card .name-and-charge {
    grid-area: name-charge;
    display: flex;
    flex-direction: column;
}
.name-and-charge .name{
    font: 600 1.5rem 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
}
.name-and-charge .charge{
    font: 500 1.125rem 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}

.profile-card .other-fields { 
    grid-area: fields;
    place-self: start end;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 1vh 0;
 }


.other-fields .field-with-icon {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    column-gap: 5px;
}

.field-with-icon i {
    font-style: normal;
    font-size: 1.2rem;
    place-self: center;
}
.field-with-icon .field {
    place-self: center start;
    font: 500 1.125rem 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
    word-break: break-all;
}

.profile-card .short-bio {
    grid-area: short-bio;
    place-self: start;
    font: 500 1.125rem 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}

.skills-section {
    grid-area: skillsSection;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    padding: 1rem;
}

.skills-section span.title {
    font: 700 1.125rem 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
}
.skills-section ul.bar-progress-skills-list {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh 1vh;
}

.bar-progress-skills-list .bar {
    background-color: var(--GrayContentSoft);
    border-radius: 12px;
    position: relative;
    padding: .5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.bar .progress {
    position: absolute;
    height: 100%;
    padding: 1rem;
    background-color: var(--BlueContrast);
    border-radius: 12px;    
}
.bar span{
    height: 100%;
    font: 600 1rem 'Montserrat', 'sans-serif';
    color: var(--GrayTitle);
    border-radius: 12px;    
    position: relative;
    place-self: center;
}


.blog-entry-card {
    grid-area: blogEntryCard;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    padding: 1rem;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "title img"
        "description description"
        "link .";
    gap: 4vh 0;
    overflow: hidden;
}
.blog-entry-card .title {
    grid-area: title;
    font: 500 1.5rem 'Montserrat', 'sans-serif';
    color: var(--GrayTitle);
}
.blog-entry-card img {
    grid-area: img;
    width: 160%;
    border-radius: 12px;
}
.blog-entry-card .description {
    grid-area: description;
    white-space: pre-line;
    font: 500 1rem 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}
.blog-entry-card .link {
    grid-area: link;
    font: 600 1rem 'Montserrat', 'sans-serif';
    color: var(--BlueContrast);
    text-decoration: underline;
    text-transform: lowercase;
}


.certificates-section {
    grid-area: certificationSection;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.certificates-section .title,
.experiences-section .title {
    font: 500 1.5rem 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
}

ul.certificates-list {
    width: 100%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh 0;
}

.certificates-list li.certificate-item {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "img"
        "name"
        "description";
        gap: 1vh 0;
}


.certificate-item img { 
    grid-area: img;
    width: 100%;
    border-radius: 12px;
 }
.certificate-item .name-certificate { 
    grid-area: name;
    font: 600 1.125rem 'Montserrat', 'sans-serif';
    color: var(--GrayTitle);
}
.certificate-item .one-line-description {
    grid-area: description;
    font: 600 1rem 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}


.experiences-section {
    grid-area: experiencesSection;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}


ul.experiences-list {
    width: 100%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh 0;
}

.experiences-list li.experience-item {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "logo date"
        "logo charge"
        "logo description";
    gap: 1vh 1vw;
}

.experience-item img { 
    grid-area: logo;
    width: 100%;
    height: auto;
    border-radius: 12px;
    place-self: center;
}

.experience-item .date { 
    grid-area: date;
    font: 500 14px 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}

.experience-item .charge { 
    grid-area: charge;
    font: 600 1rem 'Montserrat', 'sans-serif';
}

.experience-item .short-description { 
    grid-area: description;
    font: 500 1rem 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}



.projects-section {
    grid-area: projectSection;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.projects-section .header{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}


.header .title{
    font: 500 1.125rem 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
}
.header ul.filters-by-tags-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh 2vw;
}

.filters-by-tags-list li.filter-tag-item {
    font: 500 14px 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
}

.filter-tag-item button {
    border: 1px solid var(--GraySubTitle);
    background-color: white;
    border-radius: 12px;
    padding: .5rem .6rem;
    cursor: pointer;
    font: 500 14px 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
}

.filter-tag-item.active button,
.filter-tag-item:hover button {
    border: 1px solid var(--BlueContrast);
    background-color: var(--BlueContrast);
    color: white;
}

.projects-section .grid-projects-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh 3vw;
}
.projects-section .project-card-item {
    width: 25%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.54);
    border-radius: 12px;
    padding: .6rem;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "img" "tags" "name" "description" "links";
    gap: 1vh 2vw;
}

.project-card-item img {
    grid-area: img;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}

.project-card-item .tag-lists {
    grid-area: tags;
    font: 500 1rem 'Montserrat', 'sans-serif';
    color: var(--GraySubTitle);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh 1vw;
}


.project-card-item .name-project {
    grid-area: name;
    font: 500 1.5rem 'Montserrat', 'sans-serif';
    color: var(--GrayTitle);
}

.project-card-item p.description-project {
    grid-area: description;
    font: 500 1rem 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}

.project-card-item .links {
    grid-area: links;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh 1vw;
}

.links a.link {
    width: 45%;
    font: 500 1.125rem 'Montserrat', 'sans-serif';
    text-align: center;
    border-radius: 12px;
    border: 1px solid var(--BlueContrast);
    padding: .5rem .8rem;
    cursor: pointer;
}
.links .demo {
    background-color: var(--BlueContrast);
    color: white;
}
.links .repository {
    background-color: white;
    color: var(--BlueContrast);
}

.projects-section ul.paginate-projects {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.paginate-projects li.page-item {
    width: 36px;
    height: 36px;
}

.page-item button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--GraySubTitle);
    border-radius: 4px;
    font: 400 12px 'Roboto', sans-serif;
    color: #4F4F4F;
    cursor: pointer;
}
.page-item.active button {
    background-color: var(--BlueContrast);
    border: 1px solid var(--BlueContrast);
    font: 400 12px 'Roboto', sans-serif;
    color: white;
}

footer {
    padding: .5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 14px 'Montserrat', 'sans-serif';
    color: var(--GrayContent);
}